﻿<div ng-show="clients.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="per in clients">
                <td>{{per.fullName}}</td>
                <td>{{per.telephone}}</td>
                <td>{{per.address}}</td>
            </tr>
        </tbody>
    </table>
</div>