﻿<div uib-alert class="alert-success" ng-show="alertMsg!=''" close="closeAlert($index)">{{alertMsg}}</div>

<form role="form" name="getBackMovieForm">
    <h4>Get back movie</h4>
    <div class="form-group" ng-class="{'has-error':getBackMovieForm.clientsList.$invalid}">
        <label>Select Client</label>
        <select class="form-control select2" id="clientsList" name="clientsList" ng-model="model.clientId" ng-change="clientChanged(model.clientId)" ng-model-options="{ debounce: 500 }" style="width: 100%;" required></select>
    </div>

    <div class="form-group" ng-class="{'has-error':getBackMovieForm.moviesList.$invalid}">
        <label>Select Movie</label>
        <select class="form-control" name="moviesList" ng-model="model.movieCopyId" style="width: 100%;" required>
            <option ng-repeat="option in clientMoviesCopy" value="{{option.movieCopyId}}" ng-selected="option.movieCopyId==model.movieCopyId">{{option.title}} (serial {{option.serialNumber}})</option>
        </select>
    </div>

    <button type="button" ng-disabled="getBackMovieForm.$invalid" ng-click="getBack()" class="btn btn-primary">
        Get back movie
    </button>
</form>