﻿<div ng-show="movies.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Total Copies</th>
                <th>Stock Copies</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="movie in movies">
                <td>{{movie.title}}</td>
                <td>{{movie.totalCopy}}</td>
                <td>{{movie.copiesOnStock}}</td>
                <!--<td>
                    <button type="button" ng-click="rent(movie)" class="btn btn-primary">
                        Rent
                    </button>
                </td>-->
            </tr>
        </tbody>
    </table>
</div>