﻿@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="Example">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
</head>
<body ng-controller="ApplicationController">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#rentmovie">Rent</a>
                <a class="navbar-brand" href="#getbackmovie">Get back</a>
                <a class="navbar-brand" href="#clients">Clients</a>
                <a class="navbar-brand" href="#movies">Movies</a>
            </div>
        </nav>

        <div ui-view></div>
    </div>

    @*<div ng-controller="AddPersonController">
            <div class="container">
                <form role="form" name="personForm">
                    <h4>Add new person</h4>
                    <div class="form-group" ng-class="{'has-error':submitted && personForm.name.$invalid}">
                        <label>Name</label>
                        <input type="text" name="name" ng-model="model.name" class="form-control" ng-maxlength="255" required ng-pattern="/^(?![^'\-_\n]*['\-_][^'\-_\n]*['\-_])[a-z .',-_]+$/m">
                        <p ng-show="submitted && personForm.name.$error.required">{{messages.required}}</p>
                        <p ng-show="submitted && personForm.name.$error.maxlength">{{messages.maxLenght}}</p>
                        <p ng-show="submitted && personForm.name.$error.pattern">{{messages.illegalCharacter}}</p>
                    </div>

                    <div class="form-group" ng-class="{'has-error':submitted && personForm.surname.$invalid}">
                        <label>Surname</label>
                        <input type="text" name="surname" ng-model="model.surname" class="form-control" ng-maxlength="255" required ng-pattern="/^(?![^'\-_\n]*['\-_][^'\-_\n]*['\-_])[a-z .',-_]+$/m" />
                        <p ng-show="submitted && personForm.surname.$error.required">{{messages.required}}</p>
                        <p ng-show="submitted && personForm.surname.$error.maxlength">{{messages.maxLenght}}</p>
                        <p ng-show="submitted && personForm.surname.$error.pattern">{{messages.illegalCharacter}}</p>
                    </div>

                    <div class="form-group" ng-class="{'has-error':submitted && personForm.street.$invalid}">
                        <label>Street</label>
                        <input type="text" name="street" ng-model="model.street" class="form-control" ng-maxlength="255" required ng-pattern="/^(?![^'\-_\n]*['\-_][^'\-_\n]*['\-_])[a-z .',-_]+$/m" />
                        <p ng-show="submitted && personForm.street.$error.required">{{messages.required}}</p>
                        <p ng-show="submitted && personForm.street.$error.maxlength">{{messages.maxLenght}}</p>
                        <p ng-show="submitted && personForm.street.$error.pattern">{{messages.illegalCharacter}}</p>
                    </div>

                    <div class="form-group" ng-class="{'has-error':submitted && personForm.city.$invalid}">
                        <label>City</label>
                        <input type="text" name="city" ng-model="model.city" class="form-control" ng-maxlength="255" required ng-pattern="/^(?![^'\-_\n]*['\-_][^'\-_\n]*['\-_])[a-z .',-_]+$/m" />
                        <p ng-show="submitted && personForm.city.$error.required">{{messages.required}}</p>
                        <p ng-show="submitted && personForm.city.$error.maxlength">{{messages.maxLenght}}</p>
                        <p ng-show="submitted && personForm.city.$error.pattern">{{messages.illegalCharacter}}</p>
                    </div>

                    <div class="form-group" ng-class="{'has-error':submitted && personForm.postCode.$invalid}">
                        <label>Post code</label>
                        <input type="text" name="postCode" ng-model="model.postCode" class="form-control" required ng-pattern="/[0-9]{2}-[0-9]{3}/g" />
                        <p ng-show="submitted && personForm.postCode.$error.required">{{messages.required}}</p>
                        <p ng-show="submitted && personForm.postCode.$error.pattern">{{messages.postalCode}}</p>
                    </div>

                    <button ng-click="submitPersonForm(!personForm.$invalid)" class="btn btn-primary">
                        Save
                    </button>
                </form>
                <div ng-show="persons.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>City</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="per in persons">
                                <td>{{per.name}}</td>
                                <td>{{per.surname}}</td>
                                <td>{{per.city}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" ng-click="logIt()" class="btn btn-primary">
                        Log it
                    </button>
                </div>
                <div>
                    <br />
                    <script type="text/ng-template" id="alert.html">
                        <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
                            <div ng-transclude></div>
                        </div>
                    </script>
                    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                </div>
            </div>
        </div>*@
    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/app")
</body>
</html>
